language: java

jdk:
  - oraclejdk7

env:
  matrix:
    - AS=wildfly81x
    #- AS=jboss71x
    - AS=jboss61x
    - AS=jboss51x
    - AS=jboss42x
    - AS=glassfish4x
    - AS=glassfish31x
    - AS=tomcat8x
    - AS=tomcat7x
    - AS=tomcat6x
    - AS=tomee16xweb
    - AS=tomee16xplus
    - AS=wls12x

before_install:
  - export ORG_GRADLE_PROJECT_container=${AS}

script: ./gradlew unitTest --info

notifications:
email:
  - p6spy-developers@googlegroups.com
