<module xmlns="urn:jboss:module:1.0" name="com.p6spy">
    <resources>
        <resource-root path="p6spy.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <!-- make sure to refer to module holding real driver -->
        <module name="com.h2database.h2"/>
    </dependencies>
</module>