<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- Enables the declarative transaction support -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- Creates transaction manager -->
	<bean id="txManager"
		class="org.springframework.transaction.jta.JtaTransactionManager" />

	<bean id="liquibaseS1" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dropFirst" value="true" />
		<property name="dataSource" ref="dataSourceS1" />
		<property name="changeLog" value="classpath:liquibase.xml" />
	</bean>

	<bean id="liquibaseS2" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dropFirst" value="true" />
		<property name="dataSource" ref="dataSourceS2" />
		<property name="changeLog" value="classpath:liquibase.xml" />
	</bean>

	<bean id="contactRepository" class="com.p6spy.engine.spy.impl.ContactRepository"
		depends-on="liquibaseS1">
		<property name="dataSource" ref="dataSourceS1" />
	</bean>

	<bean id="custommerRepository" class="com.p6spy.engine.spy.impl.CustommerRepository"
		depends-on="liquibaseS2">
		<property name="dataSource" ref="dataSourceS2" />
	</bean>

	<bean id="dataSourceS1" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/p6SpyXADataSourceS1" />
		<property name="resourceRef" value="true" />
	</bean>

	<bean id="dataSourceS2" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/h2XADataSourceS2" />
		<property name="resourceRef" value="true" />
	</bean>
</beans>