<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dropFirst" value="true" />
		<property name="dataSource" ref="dataSourceS1" />
		<property name="changeLog" value="classpath:liquibase.xml" />
	</bean>

	<bean id="contactRepository" class="com.p6spy.engine.spy.impl.ContactRepository"
		depends-on="liquibase">
		<property name="dataSource" ref="dataSourceS1" />
	</bean>

	<bean id="dataSourceS1" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/p6SpyDriverS1" />
		<property name="resourceRef" value="true" />
	</bean>

	<!-- not in use here, just to make spring context happy -->
	<bean id="custommerRepository" class="com.p6spy.engine.spy.impl.CustommerRepository" />

</beans>